.Sider{
   

   width: 100%;
  
}

.body{
    margin: 0;
}

.Map{
    top:40px;
    position: absolute;
    
}

.foot {
    top:95.6vh;
    width: 100%;
    height: 42px;
    position:relative;
    bottom: 0;
    background-color: rgb(173, 160, 136);
    text-align : center;
}

