.Sider{
    display: flex;
    right: 0;
    position: relative;
    z-index: 10;
    size: fixed;
}

.body{
    margin: 0;
    display: flex;
    position: relative;
}

.Map{
    display: flex;
    position: absolute;
}