  .ant-carousel{
      width: 60%;
      margin: auto;
  }

  .all_list{
      margin: auto;
      color: rgb(53, 51, 51);
      background: linear-gradient(to bottom,  #E5C486,  rgba(173, 160, 136, 0.678));

  }

  .description_text{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid;
    border-bottom: solid;
    text-align: justify;
    font-family: Gabriola;
    font-size: 18px;
    letter-spacing: .005em;
  }

  .wiki_link{
      color:rgb(99, 96, 96);
      padding-left: 10%;
      font-size: 10px;
      font-weight: bold;
  }

  .monument_part{
      padding-bottom: 5%;
      
  }

  .title_mon{
    padding-top: 1%;
    color: rgba(27, 26, 26, 0.856);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    top: 25%;
    width: 100%;
    text-decoration: overline;
  }
