  .ant-carousel{
      width: 35%;
      margin: auto;
  }

  .all_list{
      margin: auto;
      color: rgb(53, 51, 51);
      background: linear-gradient(to bottom,  rgb(100, 167, 235),  rgb(176, 206, 226));
  }

  .description_text{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid;
    border-bottom: solid;
    text-align: justify;
    font-family: Snell Roundhand, cursive;

  }

  .wiki_link{
      color:white;
      padding-left: 10%;
      font-size: 10px;
  }

  .monument_part{
      padding-bottom: 5%;
      
  }

  .title_mon{
    color: rgba(27, 26, 26, 0.856);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    top: 25%;
    width: 100%;
    text-decoration: overline;
  }
