.dropdown{
    margin-left: 5%;
}
.ant-btn-group {
    width: 100%;
    position: fixed !important;
    z-index: 1001;

    .ant-btn {
        width: 50%;
        background: linear-gradient(to bottom, rgb(173, 160, 136,), #E5C486);
        color: gray;
        font-weight: bold;
        height: 40px;
    }

    #map {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-style: none;
        border-top-style: none;
        border-right-style: none;
        border-left-color: darkgray;
    }

    #listmon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-style: none;
        border-top-style: none;
        border-left-style: none;
        border-right-color: gray;
    }
}



